@use './variables.scss';

.Button {
  border: none;
  border-radius: 35px;
  width: 209px;
  height: 58px;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: variables.$white;
}

.Button--red {
  background-color: variables.$desireRed;
}

.Button--blue {
  background-color: variables.$jellyBeanBlue;
}
