@use './variables.scss';

.Home {
  padding: 65px 16px 170px 16px;
  background-color: variables.$lightBlue;
}

.Home__Name {
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: variables.$secondaryTextColor;
  text-align: center;
}

.Home__ProfessionTitle {
  margin: 0 0 45px;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: variables.$primaryTextColor;
  text-align: center;
}

.Home__Illustration {
  display: block;
  margin: 0 auto 56px;
}

.Home__Buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;

  @media (min-width: variables.$mediumDeviceWidth) {
    justify-content: center;
    flex-direction: row;
    align-items: initial;
    column-gap: 28px;
  }
}
